# Creating Tuples

In [1]:
emp=()
print(type(emp))

<class 'tuple'>

In [2]:
print(emp)

()

In [4]:
city= "Pune",

In [5]:
type(city)

tuple

In [6]:
city=("Pune")
city

'Pune'

In [7]:
city=("Pune",)
city

('Pune',)

In [8]:
city=("Nairobi", "Mombasa", "Kisumu")
city

('Nairobi', 'Mombasa', 'Kisumu')

In [17]:
city="Nairobi", "Mombasa", "Kisumu", "Nakuru"
city

('Nairobi', 'Mombasa', 'Kisumu', 'Nakuru')

In [10]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [11]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
# List is mutable, tuple is immutable
# List uses square brackets, Tuples may or may not use parentheses.

In [18]:
print(city)

('Nairobi', 'Mombasa', 'Kisumu', 'Nakuru')

In [15]:
city[1]

'Mombasa'

In [19]:
city[-1]

'Nakuru'

# Concatenation

In [61]:
city="Nairobi", "Mombasa", "Kisumu", "Nakuru"
city

('Nairobi', 'Mombasa', 'Kisumu', 'Nakuru')

In [63]:
num=1,2,3,4

In [64]:
city + num

('Nairobi', 'Mombasa', 'Kisumu', 'Nakuru', 1, 2, 3, 4)

# Nesting

In [65]:
nest=(city,num)
nest

(('Nairobi', 'Mombasa', 'Kisumu', 'Nakuru'), (1, 2, 3, 4))

# Repetition

In [67]:
rep=("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [68]:
rep=("Python",)
rep*10

('Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python')

In [69]:
rep

('Python',)

# Slicing

In [70]:
num

(1, 2, 3, 4)

In [71]:
num[1:]

(2, 3, 4)

In [72]:
num[::-1]

(4, 3, 2, 1)

# Unpacking

In [73]:
tuple("Simplilearn")

('S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')

In [74]:
num

(1, 2, 3, 4)

In [75]:
a,b,c,d=num

In [78]:
a,b,c,d

(1, 2, 3, 4)

In [80]:
a,*b,c=num
a,b,c

(1, [2, 3], 4)

# Deleting a tuple

In [82]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [84]:
del tuple1
tuple1

NameError: name 'tuple1' is not defined

# Built in function

In [85]:
num1= (3,5,2,2,2,2,6,5,8)

In [86]:
num1.count(2)

4

In [87]:
sum(num1)

35

In [88]:
len(num1)

9

In [89]:
max(num1)

8

In [90]:
min(num1)

2

# Converting List to Tuple

In [92]:
lst=[1,2,3,4]
type(lst)

list

In [93]:
tpl1=tuple(lst)

In [96]:
tpl1

(1, 2, 3, 4)

In [98]:
type(tpl1)

tuple

# Nesting Tuples in a list

In [99]:
lst=[(1,2,3), (4,5,6)]
lst

[(1, 2, 3), (4, 5, 6)]

In [101]:
lst.append(("Tuple inside list"))

In [102]:
lst

[(1, 2, 3), (4, 5, 6), 'Tuple inside list']

In [103]:
lst.remove((1,2,3))
lst

[(4, 5, 6), 'Tuple inside list']

# Nesting lists in tuples

In [104]:
tpl1=(['a','b','c'], ['d', 'e', 'f'])

In [105]:
tpl1

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [108]:
tpl1[0].append('z')

In [109]:
tpl1

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [110]:
tpl1[0].remove('z')

In [111]:
tpl1

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [113]:
# Tuples cannot be changed
tpl1.append(['x','y','z'])

AttributeError: 'tuple' object has no attribute 'append'